---
layout: default
title: Book Recommendations
description: Books that have had a significant impact on me.
image: /img/og/books.jpg
---

{% include "hero.html", title: "Book Recommendations", band: "/img/band-books.webp" %}

<ol class="mt-10 pb-4">
  {% for book in books %}
  <li class="book-row">
    <span class="rn">{{ forloop.index | roman }}.</span>
    <div>
    <a class="item-title hover:text-accent" href="{{ book.url }}" target="_blank" rel="noopener noreferrer">{{ book.title }}</a>
    {% if book.hasQuote %}
    <blockquote class="book-quote">
      <p>&ldquo;{{ book.quote }}&rdquo;</p>
      <cite class="label muted not-italic">{{ book.quoteAuthor }}</cite>
    </blockquote>
    {% endif %}
    <p class="muted">
      {% if book.hasVirtues %}
      {{ book.description }} In short, he made a list of
      <span
        class="relative cursor-pointer group decoration-dotted sm:underline underline-offset-2"
        >13 virtues<span
          class="virtues-tip"
        >
          1.&nbsp; Temperance<br />
          2.&nbsp; Silence<br />
          3.&nbsp; Order<br />
          4.&nbsp; Resolution<br />
          5.&nbsp; Frugality<br />
          6.&nbsp; Industry<br />
          7.&nbsp; Sincerity<br />
          8.&nbsp; Justice<br />
          9.&nbsp; Moderation<br />
          10. Cleanliness<br />
          11. Tranquillity<br />
          12. Chastity<br />
          13. Humility</span
        ></span
      >
      and tracked them daily to improve his character.
      {% else %}
      {{ book.description | safe }}
      {% endif %}
    </p>
    </div>
  </li>
  {% endfor %}
</ol>
